body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: lighter;
  font-size: 54px;
  letter-spacing: 0;
  white-space: nowrap;

  #body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-size: cover;
  }

  .main_container {
    @include centre;
    display: none;
    opacity: .8;
    color: $white;
  }
  
  .editing {
    display: inline-block;
    min-width: 30px;
    margin-bottom: -8px;
    padding-bottom: 5px;
    cursor: auto;
    outline: none;
    border-bottom: solid 3px $white;
  }

  #clock {
    text-align: center;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 180px;
    font-weight: lighter;
  }

  #day_wish {
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 54px;
    font-weight: lighter; 

    &.name_question {
      font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }

  form {
    display: inline-block;

    #name_field {
      height: 74px;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
      font-weight: lighter;
      font-size: 54px;
      border: 0;
      outline: none;
      background-color: transparent;
      text-align: center;
      border-bottom: solid 3px $white;
      color: $white;

      &:focus {
        opacity: 1;
      }

      &.error {
        border-bottom: solid 3px #c0392b !important;
      }
    }
  }

  .main_focus_container {
    @include centre(x);
    opacity: .8;
    font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 30px;
    bottom: 20px;
    color: $white;

    .focus_question {
      text-align: center;
      display: none;
    }

    #focus_form {
      width: 100%;
      display: none;

      input {
        height: 40px;
        font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: lighter;
        font-size: 30px;
        line-height: 40px;
        border: 0;
        border-bottom: solid 3px $white;
        outline: none;
        background-color: transparent;
        text-align: center;
        width: 100%;
        color: $white;

        &:focus {
          opacity: 1;
        }
      }
    }

    .focus_value {
      display: none;
      height: 30px;
      line-height: 30px;

      &:hover .delete {
        opacity: .9;
      }

      .delete {
        position: absolute;
        display: block;
        height: 30px;
        width: 30px;
        top: 0;
        right: -45px;
        border-radius: 100px;
        cursor: pointer;
        font-size: 15px;
        line-height: 26px;
        opacity: 0;
        -webkit-transition: all 0.1s ease-in-out;
        -webkit-transform-origin: 50% 50%;
        text-align: center;

        &:hover {
          border: 1px solid rgba(0,0,0,.9);
          opacity: .9;
          -webkit-transform: scale(1.2);
        }
      }
    }
  }
}
