/*
Syntax error: Undefined mixin 'centre'.
        on line 19 of /Users/johan/Sites/new_tab/controls/newtab/sass/partials/style.scss, in `centre'
        from line 19 of /Users/johan/Sites/new_tab/controls/newtab/sass/partials/style.scss

Backtrace:
/Users/johan/Sites/new_tab/controls/newtab/sass/partials/style.scss:19:in `centre'
/Users/johan/Sites/new_tab/controls/newtab/sass/partials/style.scss:19
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.7/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.7/lib/compass/compiler.rb:126:in `timed'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.7/lib/compass/compiler.rb:138:in `block in compile'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.7/lib/compass/logger.rb:45:in `red'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.7/lib/compass/compiler.rb:137:in `compile'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.7/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.7/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.7/lib/compass/compiler.rb:101:in `each'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.7/lib/compass/compiler.rb:101:in `block in run'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.7/lib/compass/compiler.rb:126:in `timed'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.7/lib/compass/compiler.rb:100:in `run'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.7/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:30:in `block in temporary_multipath_handler'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `each'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:17:in `block (2 levels) in run'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `each'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `block in run'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/rb-fsevent-0.9.4/lib/rb-fsevent/fsevent.rb:45:in `call'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/rb-fsevent-0.9.4/lib/rb-fsevent/fsevent.rb:45:in `run'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.7/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.7/lib/compass/commands/base.rb:18:in `execute'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.7/lib/compass/commands/project_base.rb:19:in `execute'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.7/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.7/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.7/bin/compass:30:in `block in <top (required)>'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.7/bin/compass:44:in `call'
/Users/johan/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.7/bin/compass:44:in `<top (required)>'
/Users/johan/.rbenv/versions/2.1.2/bin/compass:23:in `load'
/Users/johan/.rbenv/versions/2.1.2/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'centre'.\A         on line 19 of /Users/johan/Sites/new_tab/controls/newtab/sass/partials/style.scss, in `centre'\A         from line 19 of /Users/johan/Sites/new_tab/controls/newtab/sass/partials/style.scss"; }
